<div class="row justify-content-end">

  <div class="table-responsive col-10">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

      <ng-container matColumnDef="titre">
        <th style="min-width: 60px" mat-header-cell *matHeaderCellDef> Titre</th>
        <td mat-cell *matCellDef="let element"> {{element.titre}} </td>
      </ng-container>

      <ng-container matColumnDef="auteur">
        <th style="min-width: 60px" mat-header-cell *matHeaderCellDef> Auteur</th>
        <td mat-cell *matCellDef="let element"> {{element.auteur}} </td>
      </ng-container>

      <ng-container matColumnDef="genre">
        <th style="min-width: 60px" mat-header-cell *matHeaderCellDef> genre</th>
        <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
      </ng-container>

      <ng-container matColumnDef="statut">
        <th style="min-width: 60px" mat-header-cell *matHeaderCellDef> Statut</th>
        <td mat-cell *matCellDef="let element"> {{element.statut}} </td>
      </ng-container>

      <ng-container matColumnDef="changeStatut">
        <th mat-header-cell *matHeaderCellDef> Change Statut</th>
        <td style="min-width: 60px" mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="changeStatut(element)">
            <mat-icon class="mat-18" >flip_camera_android</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef>Detail</th>
        <td style="min-width: 60px" mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" (click)="detailOuvrage(element)">
            <mat-icon class="mat-18">menu</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef> Modifier</th>
        <td style="min-width: 60px" mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editOuvrage(element)">
            <mat-icon class="mat-18">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef> Supprimer</th>
        <td style="min-width: 60px" mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deleteOuvrage(element)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>


  </div>

</div>

